* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


/* Style the desktop background */
body {
	background-image: url(../asset/img/windows_xp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

}
a{
	text-decoration: none;
	color: #333;
}

.link__title{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	bottom: 0;
	width: 100%;
}



.nav__list {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: .25fr 1fr 1fr 1fr .25fr;
}

.link__content .title {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	cursor: pointer;
}

.link__title img{
	height: 50px;
}





/* temporaire */
/* .test{
	opacity: 1;
	visibility: visible;
} */
/* --------- */


/* Window default */

.window__modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	overflow-y: hidden;
}

/* Active modal */
.active-modal{
	opacity: 1;
	visibility: visible;
}

.window__content{
	position: relative;
	box-shadow: 10px 10px 2px rgba(33, 33, 33, 0.587);
	background-color: #fff;
	border-radius: .5rem;
	height: 50vh;
}

.window__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(34, 34, 34);
	border-radius: .5rem .5rem 0 0;
	padding: .75rem;
	width: 50vw;
	
}

.window__title{
	color: #fff;
	font-size: 1.25rem;
	font-weight: 500;
}

.window__section-button button{
	border-radius: 50px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	outline: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0;
	border: none;
}

.window__button{
	color: #fff;
	box-shadow: 1px 1px 20px rgb(87, 87, 87);
}

.window__button-minimize{
	background-color: #f7b500;
}

.window__button-fullscreen{
	background-color: #4CAF50;
}

.window__button-close{
	background-color: #f32314;
}

.window__body{
	padding: 1.5rem;
	height: 30rem;
}
/* ------------------- */

/* Window XP-files */



.window__xp-files-body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 0;
	
}

.window__xp-files-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(34, 34, 34);
	border-radius: .5rem .5rem 0 0;
	padding: .75rem;
	width: 91vw;
}

/* gmail folder */
.xp-files__item{
	position: relative;
	width: fit-content;
	height: fit-content;
}

.item__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.item__content-icon{
	height: 50px;
}

.item__content-title{
	font-size: 1.25rem;
}

.item__menu {
	opacity: 0;
	visibility: hidden;
}

.active-menu{
	opacity: 1;
	visibility: visible;
}

.item__menu div{
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #333;
	
}

.item__menu div:hover{
	background-color: #333;
	color: #fff;
}

.text__option{
	font-size: .75rem;
}

.item__menu{
	position: absolute;
	bottom: -40%;
	right: -20%;
	width: min-content;

}

.item__menu-option{
	display: flex;
	align-items: center;
	padding: .25rem;
}

.item__menu-option img{
	width: 1.5rem;
}

/* MDP */

.window__pwd{
	position: absolute;
	z-index: 2;

}

.window__body--mdp{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90%;
}

.mdp__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	
}


/* Desktop */

.desktop__list{
	list-style-type: none;
	display: grid;
	grid-template-areas:
	"Video . . . ."
	"Opera . . . ."
	"LoL . readMe . ."
	"Crown . . . .";
	text-align: center;
	height: 90vh;
	align-items: center;
}

.icon__title{
	color: rgb(255, 255, 255);
	font-size: 1.25rem;
	font-weight: 500;
	text-shadow: 2px 2px 1px #333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Opera{
	grid-area: Opera;
}

.LoL{
	grid-area: LoL;
}

.readMe{
	grid-area: readMe;
}

.Crown{
	grid-area: Crown;
}

/* Video */
.desktop__content-video{
	height:55vh ;
	width: 50Vw;
}
.desktop__header-video{
	width: 100%;
}

.desktop__body-video{
	
	height: 50vh;
}
.desktop__body--video{
	height: 100%;
	width: 100%;
}

.Video{
	grid-area: Video;
}

.Rick{
	width: 40vw;
}

/* Opera */

.textHidden{
	color: #fff;
}

.text__content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 30vh;
	width: 100%;
}

.text__content img {
	width: 50%;
	margin-top: 30px;
}

/* Gmail */

.window__gmail-content{
	background-color: #333;
	height: 40vh;
}

.window__body-content--gmail{
	height: 25vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.text__gmail{
	width: 40vw;
	text-align:justify;
	font-size: 1.75rem;
	overflow-wrap: break-word;
	color: #fff;
}

/* Trashcan */

.window__trashcan-content{
	height: 40vh;
}

.window__body-content--trashcan{
	height: 25vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.text__trashcan{
	text-align:justify;
	font-size: 1.75rem;
}

